body {
  background-color: #000;
  color: #fff;
  font-family: 'Electrolize', cursive;
}

h1 {
  margin: 0;
  font-family: 'Audiowide', sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  /*font-variant: small-caps;*/
}

h2 {

}

.event-type {
  margin: 0;
  /*font-family: 'Electrolize', cursive;*/
  font-size: 3em;
  text-transform: uppercase;
  color: #e4183a;
}

.subtitle {
  margin: 0;
  /*font-family: 'Electrolize', cursive;*/
  font-size: 2em;
  text-transform: uppercase;
}

.date {
  color: #666;
  background-color: #ddd;
  height: 5em;
  width: 6em;
  margin-top: 1em;
}

.date {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.date-month {
  color: #333;
  background-color: #9B9999;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.date-day {
  color: #333;
  font-size: 2em;
  text-align: center;
}

.location-place {
  font-size: 1.5em;
}

.times {
  margin-left: 0.5em;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #f5f5f5;*/
}

#footer .container {
  border-top: 1px solid #666;
}

#footer a {
  color: #666;
  text-decoration: none;
}

.container .text-muted {
  color: #666;
  margin: 20px 0;
}

.schedule tr, .schedule th {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  color: #333;
  padding: 0.5em;
  background-color: #e6e6e6;
}

.schedule td {
  background-color: #dadada;
  padding: 0.5em;
}

.schedule__date {
  width: 12%;
}

.schedule__loc {
  width: 30%;
}